<h1> add Custommer3</h1>
<form action="/add" method="POST">
    EnableFCM: <input type="text" name="EnableFCM"><br>
    Avatar: <input type="text" name="Avatar"><br>
    Banner: <input type="text" name="Banner"><br>
    IsGetNotification: <input type="text" name="IsGetNotification"><br>
    IsVerified: <input type="text" name="IsVerified"><br>
    IsGetOpen: <input type="text" name="IsGetOpen"><br>
    <button type="submit">add </button> 
</form>